:root {
    --pink: #e9d6e8;
    --brown: #e0dada;
    --brown2: #3f392ed0;
}

#header {
    color: white;
    background-color: var(--brown2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    height: 5vh;

}

body {
    background-color: #ff00001c;
}

#p1-main {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

.name-play {
    color: var(--brown2);
    font-weight: 700;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 0.3em;
}

.row-draw1,
.row-draw2 {
    border-bottom: 5px solid var(--brown2);
}

.col-draw {
    height: 6.5em;
    border-right: 5px solid var(--brown2);

}

.icon-x {
    padding: 0.1em;
    box-shadow: 0px 0px 20px 0px;
    color: var(--brown2);
    border-radius: 50%;
}

.icon-o {
    padding: 0.1em;
    box-shadow: 0px 0px 20px 0px;
    color: #e94eb8;
    border-radius: 50%;
}

#footer {
    height: 5vh;
    border-top: 1px solid var(--brown);
    color: var(--brown);
    background-color: var(--brown2);
}

.btn-start {
    color: black;
    border: 0;
}

.btn-start:hover {
    color: var(--brown2);
    background-color: var(--pink);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--pink);
}